In [8]:
##file data processing
from random import randint
def marksgen(n,lb,ub):
    with open('datafiles/marks.txt','w')as f:
        for i in range(0,n):
            r=randint(lb,ub)
            f.write(str(r)+'\n')
    return
n=int(input('enter number of students:'))
lb=int(input('enter lower range:'))
ub=int(input('enter upper range:'))
marksgen(n,lb,ub)

enter number of students:50
enter lower range:0
enter upper range:100

In [7]:
##class average
with open('datafiles/marks.txt')as f:
    data=f.read()
    marks=data.split()
    sum=0
    for mark in marks:
        sum +=int(mark)
    print(sum/len(marks))

49.34

In [10]:
##pass percentage
with open('datafiles/marks.txt')as f:
    data=f.read()
    marks=data.split()
    pc=0
    for mark in marks:
        if int(mark)>=35:
            pc+=1
    print(pc/len(marks)*100)

60.0

In [11]:
##fail percentage
with open('datafiles/marks.txt')as f:
    data=f.read()
    marks=data.split()
    fc=0
    for mark in marks:
        if int(mark)<=35:
            fc+=1
    print(fc/len(marks)*100)

40.0

In [14]:
##distinction percentage
with open('datafiles/marks.txt')as f:
    data=f.read()
    marks=data.split()
    dc=0
    for mark in marks:
        if int(mark)>=75:
            dc+=1
    print(dc/len(marks)*100)

18.0

In [15]:
##lowest marks frequency
with open('datafiles/marks.txt')as f:
    data=f.read()
    marks=data.split()
    lf=0
    for mark in marks:
        if int(mark)==0:
            lf+=1
    print(lf/len(marks)*100)

0.0

In [16]:
##highest marks frequency
with open('datafiles/marks.txt')as f:
    data=f.read()
    marks=data.split()
    hf=0
    for mark in marks:
        if int(mark)==100:
            hf+=1
    print(hf/len(marks)*100)

2.0

In [21]:
#variable length
def varlen(num,*args):
    num=10
    print(num)
    for a in args:
        print(a)
varlen(10,'python','online','program',20,89.5)

10
python
online
program
20
89.5

In [22]:
d = ()
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [31]:
d={'clg':'vignan','branch':'cse','year':'2'}
d.get('clg')

'vignan'

In [32]:
d.setdefault('prog','python')

'python'

In [33]:
d

{'clg': 'vignan', 'branch': 'cse', 'year': '2', 'prog': 'python'}

In [34]:
d.setdefault('neha','revathi')

'revathi'

In [35]:
d

{'clg': 'vignan',
 'branch': 'cse',
 'year': '2',
 'prog': 'python',
 'neha': 'revathi'}

In [40]:
d={'clg':'vignan','branch':'cse','year':'2'}
d.pop('year')

'2'

In [41]:
d

{'clg': 'vignan', 'branch': 'cse'}

In [42]:
d.update({'prog':'c'})

In [43]:
d

{'clg': 'vignan', 'branch': 'cse', 'prog': 'c'}

In [44]:
##from keys
#syntax-->fromkeys(sequence,values)
t =('key1','key2')
d=dict.fromkeys(t)
d

{'key1': None, 'key2': None}

In [46]:
t1 = ('key1','key2')
d1=dict.fromkeys(t,10)
d1

{'key1': 10, 'key2': 10}

In [48]:
t1 = ('key1','key2')
d1=dict.fromkeys(t,10)
d1

{'key1': 10, 'key2': 10}

In [53]:
d={'a':'b','c':1}
d['d']='hi'
d

{'a': 'b', 'c': 1, 'd': 'hi'}

In [54]:
##sets
##represented by {}
##doesnt allow duplicates
##unordered and unindexed

In [55]:
s=set()
print(type(s))

<class 'set'>

In [60]:
a={1,2,3}
s=set(a)
print(type(s))
print(s)

<class 'set'>
{1, 2, 3}

In [65]:
a={1,2,3,4,5}
s=set(a)
if 1 in s:
    print('yes')
else:
    print('no')

yes

In [72]:
#add in set
a={1,2,3,4,5}
s=set(a)
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [74]:
##update
s.update({7,8,9})
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
##remove if there is an element in the list then it will be deleted otherwise it will raise an error
a={1,2,3,4,5}
s=set(a)
s.remove(3)
s

{1, 2, 4, 5}

In [76]:
##discard if there is no element in the list which we want to discard it will not raise an error it will print the same set
a={1,2,3,4,5}
s=set(a)
s.discard(6)
s

{1, 2, 3, 4, 5}

In [77]:
##pop dont give any element then it will be deleted randomly from the list
a={1,2,3,4,5}
s=set(a)
s.pop()
s

{2, 3, 4, 5}

In [78]:
##difference
##---->variable=set1.difference(set2)
##difference update
##---->set1.difference_update(set2)

In [82]:
s1={1,2,3,4,5}
s2={3,4,5}
a=s1.difference(s2)
b=s2.difference(s1)
print(a)
print(b)

{1, 2}
set()

In [87]:
s1={1,2,3}
s2={3,4,5}
s1.difference_update(s2)
print(s1)

{1, 2}

In [84]:
s1={1,2,3,4}
s2={1,2,5,7}
s1.intersection(s2)

{1, 2}

In [85]:
s1={1,2,3,4}
s2={4,5,6}
s1.intersection_update(s2)
print(s1)

{4}

In [103]:
s1={1,2,3,4,5}
s2={1,2,3,4,5}
s1.symmetric_difference(s2)

set()

In [111]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s1.symmetric_difference_update(s2)
s1

{5}

In [120]:
s1={1,2,3}
s2={1,2,3}
s1.issubset(s2)

True

In [116]:
s1={1,2,3}
s2={1,2,3}
s1.issuperset(s2)

True

In [118]:
s1={1,2,3,4}
s2={1,2,3,4}
s1.isdisjoint(s2)

False

In [9]:
n=int(input("enter number of rows"))
for i in range(0,n):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter number of rows5

*
* *
* * *
* * * *

In [16]:
n=int(input("enter number of rows"))
for i in range(0,n+1):
    for j in range(n,i-1,-1):
        print("*",end=" ")
    print()

enter number of rows5
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
n=int(input("enter number of rows"))
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print(" ")
for i in range(n+1,0,-1):
    for j in range(1,i-1):
        print("*",end='')
    print(" ")

enter number of rows7
*
**
***
****
*****
******
*******
******
*****
****
***
**
*

#object oriented programming language

In [20]:
##object oriented programming language
      #class
           #collection of variables and method
           #syntax:class classname:
                    #'''documentation'''
                    #variables
                    #methods
      #rules
         #should be capital
         #doesnt allow spaces
         #doesnt allow keywords
      #object
      #constructor
      #inheritance
      #packages and modules using oops

In [28]:
class exm:
    a=10
    def exmp():
        print('from exmp function...')
print(exm.a)
print(exm.exmp());

10
from exmp function...
None

In [30]:
class exm:
    a=10
    def exmp():
        return 'from exmp function'
print(exm.a)
print(exm.exmp())
print(exm.__doc__)

10
from exmp function
None

In [46]:
class factorial:
    n=5
    def fact():
        return 'from fact function'
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

120

In [57]:
class prime:
    n=5
    def prime():
        return 'from prime function'
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count=count+1
    if count==2:
        print('prime number')
    else:
        print('not prime')

prime number

In [62]:
##constructor
class nonparacons():
    def __init__(self):
        print('using only self')
    def show(name):
        print('welcome...',name)
np = nonparacons()
np.show()

using only self
welcome... <__main__.nonparacons object at 0x006A8670>

In [63]:
#parameterized constructors
class paracons:
    def __init__(abc,a,b):
        abc.a = a
        abc.b = b
    def add(abc):
        return abc.a + abc.b
pc=paracons(10,1)
pc.add()

11

In [64]:
class A():
    a=1
    def ca():
       return 'from parent class'
class B(A):
    b=2
    def cb():
        return 'from child class'
obj=B
print(obj.cb())
print(obj.ca())

from child class
from parent class

In [72]:
class A:
    a=1
    def ca():
        return'from parent class'
class B(A):
    b=2
    def cb():
        return 'from child class'
class C(B):
    c=4
    def cc():
        return 'from class c'
obj1 =C
print(obj1.cc())
print(obj1.cb())
print(obj1.ca())

from class c
from child class
from parent class